p{
	color:white;
	-bolster-test-property:foo;
}

b{
	attribute:key;
	-bolster-test-property:bar,'quoted val', a b c,'quoted with ,,   ', 22, 'quoted argument with spaces!, and a comma';
	border:solid 1px blue;
}
